@media (pointer: fine) {

    html.custom-cursor-active,
    html.custom-cursor-active * {
        cursor: none !important;
    }
}

@keyframes sonar {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 1;
    }
}

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
    border-radius: 50%;
    border: 5px solid transparent;
    background-color: #FA0026;
    will-change: transform, width, height, border-radius;

    &::after {
        content: '';
        position: absolute;
        top: -3px;
        left: -3px;
        right: -3px;
        bottom: -3px;
        border-radius: 50%;
        border: 1px solid #FA0026;
        opacity: 0;
        transform: scale(0);
    }

    /* --- Mode Survol de Carte --- */
    &.is-card-hover {
        background-color: rgba(255, 255, 255, 0);
        border-color: #FA0026;
        box-shadow: 0 0 0 1px #FA0026, inset 0 0 0 1px #FA0026;
    }

    /* --- Mode Survol Fil d'Ariane --- */
    &.is-breadcrumb-hover {
        background-color: transparent;
        border-color: #FA0026;
        border-width: 2px;
        border-radius: 16px !important;
        transition: border-radius .2 ease-out, border-width .2s ease-out;
    }

    /* --- Mode Intéractif classique (Lien / Bouton) --- */
    &.is-interactive {
        &:not(.is-white-zone) {
            border-color: #FFFFFF;
        }

        &.is-white-zone {
            background-color: #FFFFFF;
            border-color: #FA0026;
        }
    }

    /* --- Zone Blanche --- */
    &.is-white-zone:not(.is-interactive):not(.is-magnetic):not(.is-card-hover) {
        background-color: #FFFFFF;
    }

    /* --- Mode Aimanté --- */
    &.is-magnetic {
        background-color: #FA0026;
        border-color: transparent;
        opacity: 0;
    }

    &.is-pulsing {
        &::after {
            animation: sonar 1s infinite;
        }
    }
}