.header-link {
    position: relative;
    text-transform: lowercase;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: fit-content;
    padding: 0 1.5rem;

    @media screen and (max-width: 900px) {
        font-size: 14px;
        padding: 0 0.5rem;
        height: 60px;
    }

    &:after {
        content: '';
        position: absolute;
        height: 10px;
        width: 10px;
        border-radius: 100%;
        border: 1.5px solid #FA0026;
        top: 64px;
        left: 50%;
        transform: translateX(-50%);

        @media screen and (max-width: 900px) {
            top: 44px;
            height: 6px;
            width: 6px;
        }
    }

    &:active {
        &:after {
            background-color: #FA0026;
        }
    }

    &.active {
        &:after {
            background-color: #FA0026;
            border: 1px solid #FA0026;
        }
    }

    &.magnetic-cursor-active:after {
        transform: translateX(-50%) scale(1);
        transition: all 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
}