.loader {
    overflow: hidden;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: disappear .1s linear 1.3s forwards;

    &-spinner {
        &-video {
            height: 100%;
            width: 100%;
        }
    }

    @keyframes disappear {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0
        }
    }
}

