.page-content {
    animation: appear .1s linear forwards;
    height: 100svh;
    display: flex;
    flex-direction: column;

    @keyframes appear {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1
        }
    }

    @media screen and (max-width: 768px) {
        height: auto;
    }
}

.main-content {
    flex: 1;
    overflow-y: auto;

    @media screen and (min-width: 769px) {
        &:has(.cards-container) {
            overflow-y: hidden;
        }
    }

    @media screen and (max-width: 768px) {
        overflow-y: visible; /* Empêche ce conteneur de capturer et bloquer le scroll sur mobile */
    }
}

.cards-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0 5rem;
    justify-items: center;
    margin-top: 1.5rem;
    padding-bottom: 3rem;

      @media screen and (max-width: 1000px) {
            padding: 0 1rem;
    }

    @media screen and (min-width: 769px) {
        display: grid;
        column-gap: 1.5rem;
         padding-bottom: 4rem;
        row-gap: 2.5rem;
        /* Default for 5 cards */
               
        grid-template-columns: repeat(6, 1fr);
        
        /* If 4 cards */
        &:has(> :nth-child(4):last-child) {
            grid-template-columns: repeat(5, 1fr);
        }

        /* If 6 cards */
        &:has(> :nth-child(6):last-child) {
            grid-template-columns: repeat(7, 1fr);
        }
    }

    @media screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 0 2rem;
        width: 100%;
        max-width: 400px; /* Keep the card from becoming gigantic on large phones */
        height: auto;
    }
}