.page-content {
    animation: appear .1s linear forwards;
    height: 100svh;
    display: flex;
    flex-direction: column;

    @keyframes appear {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1
        }
    }

    @media screen and (max-width: 768px) {
        height: auto;
    }
}

.main-content {
    flex: 1;
    overflow-y: auto;

    @media screen and (min-width: 769px) {
        &:has(.cards-container) {
            overflow-y: hidden;
        }
    }
}

.cards-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1.5rem;
    padding: 0 12rem;
    justify-items: center;
  margin-top: 1.5rem;
    padding-bottom: 3rem;
    row-gap: 2rem;

    @media screen and (max-width: 768px) {
        flex: 1 1 100%;
        max-width: 100%;
        padding: 0 1rem;
    }
}