@font-face {
    font-family: 'Swiss721 Thin';
    src: url('../../public/assets/font/Swiss721BT-Light.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Swiss721 Bold';
    src: url('../../public/assets/font/Swiss721BT-Heavy.otf') format('opentype');
    font-style: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light {
    font-family: 'Swiss721 Thin';
    font-weight: 300;
}

.bold {
    font-family: 'Swiss721 Bold';
    line-height: 82%;
    letter-spacing: -.9px;
    font-weight: 400;
}

.flex {
    display: flex;
    align-items: center;
    gap: .5rem;
}

@mixin white-cursor {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><circle cx="12" cy="12" r="10" fill="%23FA0026" stroke="white" stroke-width="2"/></svg>') 12 12, auto;

    a, button, [onclick] {
        cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><circle cx="12" cy="12" r="10" fill="white" stroke="%23FA0026" stroke-width="2"/></svg>') 12 12, pointer;
    }
}

body {
    position: relative;
    text-transform: lowercase;
    min-height: 100svh;
    font-family: 'Swiss721 Thin', sans-serif;
    line-height: 1.5;
    color: #101010;
    background-color: #FFFFFF;
    overflow-x: hidden;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><circle cx="12" cy="12" r="10" fill="%23FA0026"/></svg>') 12 12, auto;
}

a, button, [onclick] {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><circle cx="12" cy="12" r="10" fill="%23FA0026" stroke="white" stroke-width="2"/></svg>') 12 12, pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    border: 1px solid #ccc;
    outline: none;
    padding: 0.5rem;
}

ul,
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
}

td,
th {
    padding: 0.5rem;
    border: 1px solid #ccc;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: normal;
}

p {
    font-family: inherit;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.margin-top {
    margin-top: 1rem;
}

.hide-for-tablet-down {
    @media screen and (max-width: 710px) {
       display: none;
    }
}