.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
    width: 20rem;
    padding: 3rem;
    cursor: pointer;
    background-color: #FBFBFB;

    &:hover, &:focus {
        box-shadow: 0 0 12px 2px rgba(#101010, 0.10);
        transition: .2s ease-in-out;
    }

    @media screen and (max-width: 768px) {
        max-height: 15rem;
        max-width: 9rem;
        padding: 1.5rem;
    }
}