.footer-link {
    position: relative;
    font-size: 16px;

    &:after {
        content: '';
        position: absolute;
        height: 10px;
        width: 10px;
        border-radius: 100%;
        border: 1px solid #101010;
        top: 24px;
        left: 50%;
        transform: translateX(-50%);
    }

    &:hover, &:focus {
        &:after {
            background-color: #0026FF;
            border: 1px solid #0026FF;
            transition: .2s ease-in-out;
        }
    }

    &:active {
        &:after {
            background-color: #0026FF;
        }
    }

    &.active {
        &:after {
            background-color: #0026FF;
            border: 1px solid #0026FF;
        }
    }

    .tooltip {
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        color: white;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 14px;
        white-space: nowrap;
        z-index: 1000;
        opacity: 1;
        transition: opacity 0.2s;
    }

    .footer-link img {
        cursor: pointer;
    }

}