.loader {
    overflow: hidden;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: disappear .1s linear 1.3s forwards;

    &-spinner {
        &-image {
            height: 110%;
            width: 110%;
        }
    }

    @keyframes disappear {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0
        }
    }
}


.page-content {
    margin: 2rem;
    animation: appear .1s linear  forwards;

    @keyframes appear {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1
        }
    }
    @media screen and (max-width: 768px) {
        margin: 1rem;
    }
}
