@font-face {
    font-family: 'Swiss721 Lt BT Extended';
    src: url('../../public/assets/font/Swiss721BT-LightExtended.otf') format('opentype');
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Swiss721 Lt BT Extended', sans-serif;
    line-height: 1.5;
    color: #101010;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    border: 1px solid #ccc;
    outline: none;
    padding: 0.5rem;
}

ul,
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
}

td,
th {
    padding: 0.5rem;
    border: 1px solid #ccc;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: normal;
}

p {
    font-family: inherit;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.margin-top {
    margin-top: 1rem;
}