@font-face {
    font-family: 'Swiss721 Lt BT Extended';
    src: url('../../public/assets/font/Swiss721BT-LightExtended.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Swiss721 Bold';
    src: url('../../public/assets/font/swiss-721-extended-bt.ttf') format('opentype');
    font-style: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light {
    font-family: 'Swiss721 Lt BT Extended';
    font-weight: 300;
}

.bold {
    font-family: 'Swiss721 Bold';
    font-weight: 700;
}

.flex {
    display: flex;
    align-items: center;
    gap: .5rem;
}

body {
    position: relative;
    min-height: 100svh;
    font-family: 'Swiss721 Lt BT Extended', sans-serif;
    line-height: 1.5;
    color: #101010;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    border: 1px solid #ccc;
    outline: none;
    padding: 0.5rem;
}

ul,
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
}

td,
th {
    padding: 0.5rem;
    border: 1px solid #ccc;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: normal;
}

p {
    font-family: inherit;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.margin-top {
    margin-top: 1rem;
}

.hide-for-tablet-down {
    @media screen and (max-width: 710px) {
       display: none;
    }
}